<div class="flex flex-wrap justify-center mx-10 my-10">
    <div class="w-full flex border-b border-t bg-gray-100">  
        <div class="w-1/3 py-2 font-bold px-2">Longitude</div>
        <div class="w-2/3 py-2">{{longitude.toFixed(2)}}°</div>
    </div>
    <div class="w-full flex border-b">
        <div class="w-1/3 py-2 font-bold px-2">Latitude</div>
        <div class="w-2/3 py-2">{{latitude.toFixed(2)}}°</div>
    </div>
    <div class="w-full flex border-b border-t bg-gray-100">  
        <div class="w-1/3 py-2 font-bold px-2">Velocity</div>
        <div class="w-2/3 py-2">{{velocity}}</div>
    </div>
    <div class="w-full flex border-b">
        <div class="w-1/3 py-2 font-bold px-2">Altitude</div>
        <div class="w-2/3 py-2">{{altitude.toFixed(2)}} Km</div>
    </div>
    <div class="w-full flex border-b border-t bg-gray-100">  
        <div class="w-1/3 py-2 font-bold px-2">Time</div>
        <div class="w-2/3 py-2">{{time}}</div>
    </div>
</div>